 /* css added for global css --  starts  */
 
 /* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaORs71cA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaHRs71cA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaMRs71cA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaNRs71cA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaDRs4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaORs71cA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaHRs71cA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaMRs71cA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaNRs71cA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaDRs4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaORs71cA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaHRs71cA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaMRs71cA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaNRs71cA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaDRs4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaORs71cA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaHRs71cA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaMRs71cA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaNRs71cA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaDRs4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaORs71cA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaHRs71cA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaMRs71cA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaNRs71cA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaDRs4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaORs71cA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaHRs71cA.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaMRs71cA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaNRs71cA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXX3I6Li01BKofIMNaDRs4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOOaBXso.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIMeaBXso.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIO-aBXso.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOOaBXso.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIMeaBXso.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIO-aBXso.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOOaBXso.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIMeaBXso.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIO-aBXso.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOOaBXso.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIMeaBXso.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIO-aBXso.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOOaBXso.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIMeaBXso.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIO-aBXso.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOOaBXso.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIMeaBXso.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIOuaBXso.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofIO-aBXso.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/nunito/v24/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 
 a{ color: #000; box-shadow: none; }
 a:hover{ transition: color 0.3s; }
 .btn {  border-radius: 0; }
.btn:focus, a:focus{ box-shadow: none!important; outline: none; background-color: #d7ebfc00!important; }
body.pagelayout-login { background-repeat: no-repeat; background-color: #bbcfe4;}
body, #page-my-index{ background-color: #fff; font-family: 'Nunito!important'; font-size: 1.1rem;} 
#page-content:before { background-color: #000; } 
#page-wrapper { margin-left: 5.1rem; }
#page-login-index #page-wrapper { margin-left: 0; }
#page{ margin-top: 0; }
.card{ border-radius: .3rem; border: none; }
.btn-primary{ border-radius: 0px; padding: 6px 24px; margin: 2px 5px; background-color: #c4c4c4; border-color: #c4c4c4;}
.btn-secondary{ margin-top: 2px; background-color: #c4c4c4; border: 1px solid #c4c4c4; border-radius: 0px; padding: 6px 24px; margin: 2px 5px; }
.btn-primary:hover, .btn-primary:focus, .btn-secondary:hover { background-color: #c4c4c4!important; border-color: #c4c4c4; }

.btn-outline-secondary:hover, .btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show>.btn-outline-secondary.dropdown-toggle{ background-color: #c4c4c4!important; border-color: #c4c4c4; }

.dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus, .dropdown-item:focus-within,
.dropdown-item:hover, .dropdown-item:focus, .dropdown-item a:focus, .dropdown-item a:hover{ background-color: #c4c4c4!important; color: #fff; }

#region-main-box{ margin-top: 1.5rem; }
.bg-white{ background-color: #fff; }
.maincalendar .calendarmonth td.today .day-number-circle{ background-color: #c4c4c4; }

.pagelayout-standard #page.drawers .main-inner, body.limitedwidth #page.drawers .main-inner{  max-width: none; }
/* css added for global css --  starts  */

/* login page starts  */
.pagelayout-login #page{ background: #f8f9fa; background-image: none; background-repeat: repeat-x; background-color: #fff; }
body.pagelayout-login { background-image: url([[pix:theme_university|loginbackground]]); background-size: cover; }
#page-login-index .card { text-align: center; box-shadow: 0 1px 15px 1px rgb(39 39 39 / 10%); background-color: rgb(255 255 255 / 87%); border-radius: .6rem; } 
.loginform{ width: 30vw; padding-top: 20vh; }
.login-heading { color: #000; font-size: 24px; font-weight: 600;  margin-bottom: 3rem;}
#page-login-index #region-main-box { padding-right: 0; padding-left: 0;  margin-top: 0;}
.login-container h1.login-heading{ text-align: center; }
.login-right-bg{ background-color: #171616; padding-top: 5%; text-align: center; color: #fff; text-align: center; color: #fff; }
.support-haben{ font-weight: 600; display: block;  margin: 4rem 0 2rem 0;; font-size: 2rem; }
.support-content a{ color: #37c6d0; text-decoration: none; }
.login-wrapper { display: block; justify-content: left;}
.login-container{ border-radius: 0; margin: auto; box-shadow: none;  padding: 0; max-width: 100%; height: inherit;}
.login-box .card{ border: none; box-shadow: -10px 0px 11px -9px rgba(0,0,0,0.37); -webkit-box-shadow: -10px 0px 11px -9px rgba(0,0,0,0.37); -moz-box-shadow: -10px 0px 11px -9px rgba(0,0,0,0.37);}
#page-login-index .card-header .img-fluid { max-width: 166px; }
.company-info { font-size: 20px; font-weight: 400; line-height: 2rem; }
#page-login-index .custom-footer .homelink{ display: none; } 
.pagelayout-login .card-header{ border-bottom: none; padding: 20px 0px; background-color: #e2f5fc; border-radius: .5rem .5rem 0 0;  }
.cookies-box{background-color: #eff3fc; border-radius: 5px; padding: 20px 20px; text-align: center; font-size: 16px;}
.pagelayout-login .form-control{border-radius: 0; background-color: #fff; padding: 8px 10px; color: #000; border: 2px solid #404040;}
.pagelayout-login .logininfo{ text-align: center; }
.pagelayout-login .login-form-submit .btn-primary{ background-color: #f7931e; border-color: #f7931e; color: #000; }
.login-form-forgotpassword { margin-top: 4rem; }
.login-form-forgotpassword a { color: #06a1ac; font-weight: 600; }
.login-text{ font-size: 20px; color: #fff; padding: 0 14%; margin-top: 23%; font-family: roboto; font-weight: 300; line-height: 40px;}
.login-box .card .btn { width: 40%; margin: auto; font-weight: 600; }
#page-login-index .card-body{ box-shadow: none;  background-color: #fff; border-radius: 0 0 .5rem .5rem; }
.custom-pass { display: block; float: left; width: 100%; }
.custom-pass .custom-eye { float: right; position: relative; top: -32px; right: 16px; }
.login-container-right{ color: #fff; min-height: 721px; }
.login-height{ height: inherit; }

/* login page end  */

/* css added by kamal side drawer  */
body.drawer-open-left{ margin-left: 258px; }
body.drawer-ease { transition: .5s; }
#nav-drawer{ padding: 0 12px 0 15px; top: 0; transition: all .1s ease,all .5s ease; background-color: #00687B; box-shadow: none!important; top: 6.5rem;  padding-bottom: 8rem;}
#nav-drawer.closed { left: 0px; width: 84px; transition: all .5s ease,all .5s ease; }
#nav-drawer.closed .media .media-body { display: none; }
.drawer-open-left #page-wrapper { margin-left: 0; }
[data-region="drawer"] { background-color: #202220; height: 100%; top:0; width: 260px; padding: 15px 0px 100px 0px; z-index: 1031;}
#nav-drawer .list-group-item{ color: #fff; background: none; border: none; transition: .3s; padding: .6rem 1rem;}
#nav-drawer .list-group-item-action:active, #nav-drawer .list-group-item-action:hover{ background-color: rgba(200, 200, 200, 0.4); transition: .2s; border-radius: .3rem; }
#nav-drawer [aria-label="Site settings"]{ margin-top: -1px!important;}
#nav-drawer .list-group-item .ml-1 { margin-left: 0!important; }
#nav-drawer .font-weight-bold{ font-weight: 500; }
#nav-drawer .list-group-item.active { color: #ffffff; background-color: #1491a8; border-radius: .3rem; }
#nav-drawer .list-group li{ margin-top: .5rem; }
#nav-drawer .list-group li .media-left .icon { font-size: 20px; margin-left: 2px; }
#nav-drawer .list-group li .media-body{ margin-left: .5rem; }
/*side drawer ends */

/* navbar-header start */
.userinitials{ background-color: #ffffff; }
.navbar{ background-color: #faefef; }
.navbar.fixed-top { border-bottom: #c4c4c4 2px solid; }
.drawer-open-left .navbar { transition: .5s; }
.navbar .site-name { display: none!important; }
.fa-navicon:before, .fa-reorder:before, .fa-bars:before, .toggleBTN .fa { display: none; }
.site-logo img, nav.navbar .logo img { max-height: 45px; }
.navbar-brand { margin-left: 1.5rem; }
.navbar button.btn-light{border-radius: .3rem; }
.navbar-light .navbar-nav .nav-link, .navbar a{ color: #000; }
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus { color: #000; }
.navbar div[data-region="drawer-toggle"] button.btn>span { width: 22px; height: 2px; background: #1b345c; display: block; margin: 4px auto; }
.toggleBTN { background-color: #fff; border: 1px solid #6c7092; padding: 5px 6px; }
.toggleBTN:focus { background-color: #fff!important; }
/*.navbar-expand .navbar-nav .nav-link{ width: 2.2rem; }*/
.navbar .popover-region { margin-right: 0; }
.navbar .popover-region-toggle { width: 45px; }
.navbar .popover-region-container { top: 3.8rem; }
.mh-head { margin-top: 100px; }
.mh-menu li.nav-item { margin: 0 .5rem; }
.navbar-contact{ display: flex; align-items: center; background-color: #fff; padding: 0.5rem 1rem; margin-right: 1rem; border-radius: 0.4rem; }
.navbar-contact:hover, .navbar-contact:focus { text-decoration: none; background-color: #fff; }
.custom-icon { margin-right: 10px; color: #2f3d4a; width: 40px; height: 40px; background: #fa0; display: flex; align-items: center; justify-content: center; border-radius: 20px; }
.nav-setting-icon { font-size: 18px; border-radius: 50%; background-color: #677793; height: 40px; width: 40px; color: #fff!important; margin: 8px 3px; text-align: center; padding-top: .75rem; }
.moremenu .nav-link:hover, .moremenu .nav-link:focus{ background-color: #c4c4c4; }
.moremenu .nav-link.active, .moremenu .nav-link.active, .moremenu .nav-link.active:focus, .moremenu .nav-link.active:hover{ background-color: #c4c4c4;  border-bottom-color: #c4c4c4;}
/* navbar-header ends */

/* drawer css starts */
.drawer{ background-color: #e5e5e5;}
#nav-drawer[aria-hidden=true] .list-group-item{ display: block; }
.drawer .message-app { background-color: #fff; }
[data-region=right-hand-drawer].drawer{ z-index: 1031; top: 3.8rem; }
[data-region="drawer-toggle"]{ background-color: #00687b; padding: 2.2rem 1.4rem; }
.message-app .icon{ margin-right: .5rem; }
.message-app a, .message-app .btn-link{ color: #677793!important; }
.page-item.disabled .page-link{ color: #bc9bd5; }
.notoggleBG{ background-color: rgba(0, 0, 0, 0); }
.notoggleBG .fa{ font-size: 21px; color:#fff; }
#page.drawers.show-drawer-left{ margin-left: 200px; }
#page.drawers{ padding-left: 0; }
/* drawer css ends */

/* header css stars */
.page-context-header{ padding: 0; }
#page-header .card-body { background-color: #00bce2; color: #000; padding: 1.8rem; }
#page-header .card-body  .breadcrumb, #page-header .card-body .breadcrumb .breadcrumb-item a{ color: #000; }
#page-header .card-body .breadcrumb .breadcrumb-item { padding-left: 0.2rem; }
#page-header .card-body .breadcrumb .breadcrumb-item:last-child a, #page-header .card-body .breadcrumb .breadcrumb-item:last-child { color: #000; }
#page-header .card-body  .breadcrumb-item+.breadcrumb-item::before{ color: #000; padding-right: 0.2rem; }
#page-header .action-menu .dropdown-toggle{ color: #00687b; }
.usermenu .login a:hover, .usermenu .login a:focus { color: #1b345c; }
.fixed-header { z-index: 9; top: 60px; position: fixed; right: 0; left: 0; }
.breadcrumb { margin-top: 6px; }
.breadcrumb, .breadcrumb .breadcrumb-item a { color: #585858; }
.page-header-headings h1{ font-weight: 600; font-size: 1.7rem; margin-bottom: 0; }
#page-header .logo img{ display: none; }
/* header css ends */

/* dashboard page css starts  
.mh-head .btn-secondary{ background-color: #00687b; padding: .5rem; border-radius: .3rem; color: #fff; }
.mh-head .btn-secondary:focus, .mh-head .btn-secondary:hover, .mh-head .btn-secondary:active { background-color: #5e7294!important; color: #fff; }
.dashboard-card-deck.one-row { justify-content: flex-start!important; }
/* dashboard page css ends  */

/*top info 4 boxes css strats */
.ff_one { width: 100%; display: block; border-radius: 5px; background-color: #f0e9e9; padding: 1rem; border: 1px solid #f0e9e9; transition: .2s; }
.dash-tabs a:focus, .dash-tabs a:hover, .dash-tabs a:active{ background-color: #fff!important; box-shadow: none; transition: .2s; }
.details{ font-weight: 600; color: #0a0a0a; width: 100%; font-size: 16px; }
.details p{ color: #666; font-size: 15px; margin-bottom: 0px; margin-top: .2rem; font-weight: 400;  }
.ff_icon{ border-radius: 5px; box-shadow: 0 1px 4px 0 rgb(0 0 0 / 9%); float: right; height: 5.5rem; width: 6rem; line-height: 60px; padding: 1.4rem; text-align: center; }
span.flaticon-speech-bubble { color: #fff; font-size: 48px; }
.ff_icon .fa { font-size: 3rem; color: #fff; }
.tab1:hover, .tab2:hover, .tab3:hover, .tab4:hover{ text-decoration: none; box-shadow: 0 0 30px 0 rgb(32 32 32 / 20%); }
.tab1 .ff_icon { background: linear-gradient( 60deg, #ffa726, #fb8c00); }
.tab2 .ff_icon { background: linear-gradient(60deg, #66bb6a, #43a047); }
.tab3 .ff_icon { background: linear-gradient(60deg, #ef5350, #e53935); }
.tab4 .ff_icon { background: linear-gradient(60deg, #26c6da, #00acc1); }
#page-message-index .dash-tabs { display: none; }
#page-message-index #page { margin-top: 6rem; }
/*top info 4 boxes css ends */

/* Block css start */
.block h5.card-title{ color: #040404; font-size: 20px; font-weight: 600; text-transform: uppercase; }
.action-menu-item { margin: 0px 5px; }
.block .block-controls .dropdown-toggle { padding-left: 2px; }
#block-region-side-pre .card { background-color: #faefef; }
.block .block-cards .multiline { font-weight: 500; }
.dashboard-card-deck .coursename { font-weight: 500; }
/* Block css ends */

/* profile page css starts */
a#message-user-button { color: #fff; }
img.userpicture { margin-right: 0.5rem; border: 2px solid #93c1d0; background-color: #fff; }
/* profile page css ends */

/*course indside page css starts*/
.sectionname { font-size: 24px; font-weight: 600; }
.sectionname span a { color: #000; }
#page-course-view-topics .course-content ul.section { margin: 0; }
.section .activity.modtype_label.label { padding: 0; }
.section .label .mod-indent-outer{ padding-left: 0; }
.section .contentwithoutlink .no-overflow h5{ text-align: left!important; margin-top: 1rem; font-family: roboto medium; }
#page-course-view-topics #region-main { background-color: #ebf4f7; border: none; border-radius: 0.4rem; }
#page-course-view-topics .course-content { margin-top: 0; background-color: #fff; padding: 1rem; border-radius: 0.4rem; }
.section li.activity { padding: 0.2em 0; }
.dashboard-card-deck .dashboard-card .dashboard-card-img{ border-radius: 0; }
.card-deck .card{ margin-right: 2rem; }
.dashboard-card-deck:not(.fixed-width-cards) .dashboard-card{ width: calc(33.33% - 3rem); box-shadow: 0 0.5rem 0.5rem rgb(0 0 0 / 15%); }
.dashboard-card-deck .dashboard-card .dashboard-card-footer{ background-color: #fff; }
.block .block-cards .progress-text{ background-color: #776e6e;  max-height: 6px; }
.page-mycourses [data-region="filter"] { display: none!important; }
.courseindex .courseindex-item.pageitem{ background-color: #c4c4c4; border-radius: 0; color: #000; }
.courseindex .courseindex-item.pageitem a{ color: #000;}
.courseindex .courseindex-item.pageitem:hover, .courseindex .courseindex-item.pageitem:focus{ background-color: #c4c4c4; }

.courseindex .courseindex-item.pageitem:hover .courseindex-link, 
.courseindex .courseindex-item.pageitem:hover .courseindex-chevron, 
.courseindex .courseindex-item.pageitem:focus .courseindex-link, 
.courseindex .courseindex-item.pageitem:focus .courseindex-chevron { color: #000;}
.page-context-header{ margin-bottom: 1rem; }
.course-content ul li.section.main{ margin-bottom: 3rem;  border: 1px solid #e5e5e5; border-top: 6px solid #776e6e;  padding: 1rem; box-shadow: 0px 0.3rem 0.2rem 0px rgb(0 0 0 / 15%);}
.activity-item:not(.activityinline) { border: 0; border-bottom: 1px solid #dee2e6; border-radius: 0; }
.activity-wrapper .activitytitle .text-uppercase.small { font-weight: 600; font-size: 1.1rem; }
.secondary-navigation { max-width: none; }
.secondary-navigation .navigation { border-top: 0; border-bottom: 1px solid #37c6d0; height: 60px; }
.secondary-navigation .navigation .nav-tabs .nav-link { color: #37c6d0; }
.secondary-navigation .moremenu .nav-link:hover, .secondary-navigation .moremenu .nav-link:focus {  color: #000; border-bottom: 3px solid #2ca5ae; background-color: #fff; }
.header-maxwidth{ max-width: none; }

.secondary-navigation  .moremenu .nav-link.active, .secondary-navigation .moremenu .nav-link.active:focus, 
.secondary-navigation .moremenu .nav-link.active:hover { background-color: #fff; color: #000; border-bottom: 3px solid #2ca5ae; }


/*course indside page css ends*/

/*  side drawer scroll bar csss starts */
/*     width */
    [data-region="drawer"]::-webkit-scrollbar { width: 6px; }
/*     Track */
    [data-region="drawer"]::-webkit-scrollbar-track { box-shadow: inset 0 0 5px grey; border-radius: 7px; } 
/*     Handle */
    [data-region="drawer"]::-webkit-scrollbar-thumb { background: #babdd0; border-radius: 10px; }
/*     Handle on hover */
    [data-region="drawer"]::-webkit-scrollbar-thumb:hover { background: #666; }
/*  side drawer scroll bar csss ends */


/* footer css start */
.pagelayout-standard #page.drawers .footer-popover, body.limitedwidth #page.drawers .footer-popover{ max-width: none; }
/*.custom-footer { color: #adadad; background-color: #00505f; padding: 1rem; font-size: .9rem;}
.custom-footer a, .custom-footer a .icon { color: #adadad!important; }
.custom-footer a:hover{ text-decoration: underline;}
.custom-footer .list-unstyled li { margin: 0px 10px; }
.custom-footer .tool_dataprivacy { display: none; }
#goto-top-link a { background-color: #3a9fbb!important; border-radius: 50%; height: 40px; width: 40px; top: 22px; right: 12px; border: none; }
#goto-top-link a .icon{ color: #fff!important; margin-left: -1px; margin-top: 6px; }
.follow-icon { list-style: none; display: inline-flex; padding-left: 0; }
.custom-footer a { color: #333; text-decoration: none; }
.follow-icon li i.fa { color: #0a1a34; padding: 8px; font-size: 20px; width: 36px; text-align: center; border-radius: 50%; background-color: #9c9c9c; margin-right: 0.3rem; }*/
/* footer css ends */

@media (max-width: 1600px) {
}
@media (max-width: 1450px) {
}
@media (max-width: 1400px) {
}
@media (max-width: 1350px) {
}
@media (max-width: 1200px) {    
}
@media (max-width: 1199px) {
    .ff_one{ margin-bottom: 50px; }
}
@media (max-width: 1085px) {
    .top-menu{ display: none; }
}
@media (max-width: 980px) {   
}
@media (max-width: 940px) { 
}
@media (max-width: 980px) { 
    .mh-menu { display: none; }
}
@media (max-width: 885px) {
    .navbar-contact { background-color: #caedf8; margin-right: 0; }
    .call-details{ display: none!important; }
}
@media (max-width: 850px) {
}
@media (max-width: 770px) {
    .navbar.fixed-top .dropdown .dropdown-menu{ z-index: 1032; }
    .login-heading-1{ display: none;}
    .login-heading-2{ display: none;}
    .pagelayout-login #region-main{padding: 1.25rem;}
    .pagelayout-login #region-main-box{padding-right:15px;}
    .navbar-expand .navbar-nav { margin-left: auto; } 
    #page-wrapper{ margin-left: 0; }
    #page-wrapper #page { padding-left: 15px; padding-right: 15px; }
    [data-region="drawer"] { height: auto; top: 62px; padding: 0px; }
    #page-wrapper #page #page-content{ padding-left: 15px; padding-right: 15px; }
    #page-footer .list-unstyled { margin: auto; }
    #page-footer .text-right { text-align: center!important; }
}    
@media (max-width: 576px) {
    .login-container { margin-right: 0; }
}
@media (max-width: 478px) {   
}
@media (max-width: 390px) {
}

.activityiconcontainer {
  background-color: #ffffff !important; }

#page-my-index #page-header {
    display: none;
}
/* css added by kamal for login page --  ends  */
